<title>NoWhereIn | Blog</title>

<!--<link rel="stylesheet" href="css/bootstrap.css">-->
<!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<style>
    .navbar-default {
        background-color: #24819c;
        border-color: #0a6d90;
    }
    .navbar-default .navbar-brand {
        color: #e5ebec;
    }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-text {
        color: #e5ebec;
    }
    .navbar-default .navbar-nav > li > a {
        color: #e5ebec;
    }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #ecdbff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #ecdbff;
        background-color: #0a6d90;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        color: #ecdbff;
        background-color: #0a6d90;
    }
    .navbar-default .navbar-toggle {
        border-color: #0a6d90;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #0a6d90;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #e5ebec;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #e5ebec;
    }
    .navbar-default .navbar-link {
        color: #e5ebec;
    }
    .navbar-default .navbar-link:hover {
        color: #ecdbff;
    }

    @media (max-width: 767px) {
        .navbar-default .navbar-nav .open .dropdown-menu > li > a {
            color: #e5ebec;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ecdbff;
        }
        .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
            color: #ecdbff;
            background-color: #0a6d90;
        }
    }
</style>

<!--<script src="js/angular.min.js"></script>-->
<!--<script src="js/angular-route.min.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>