<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <div class="nav navbar navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <!--<span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>-->
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
                    NoWhereIn | Blog
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <% if (user) {%>
                <li><a href="/myblog">My Blog </a> </li>
                <li><a href="/profile">Profile </a> </li>
                <li><a href="/logout">Logout</a></li>
                <% } else {%>
                <!--<li><a href="#"><span class="fa fa-user"></span></a> </li>-->
                <li><a href="/login">Login </a> </li>
                <li><a href="/signup">Sign Up </a> </li>
                <% } %>
                <li><a href="#">|</a> </li>
                <li><a href="/about">About</a></li>
                <li><a href="#">     </a> </li>
                <li><a href="#">     </a> </li>
                <li><a href="#">     </a> </li>
            </ul>
        </div>

    </div>
</nav>